<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}} – eSportSite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class='admin'>
    <div class="container">
        <div class="flex-wrapper admin__content">
            <section class="admin__column admin__column--left">
                <figure class='admin__image-wrapper' title='eSport – Panel Administracyjny'>
                    <a href="/admin">
                        <img src="/assets/img/logo.svg" alt="eSport – Panel Administracyjny" class='admin__logo'>
                    </a>
                </figure>
                <nav class='admin__nav'>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/admin/dashboard" class="nav__link">Dashboard</a>
                        </li>
                        <li class="nav__item">
                            <a href="/admin/articles" class="nav__link">Artykuly</a>
                        </li>
                        <li class="nav__item">
                            <a href="/admin/users" class="nav__link">Użytkownicy</a>
                        </li>
                        <li class="nav__item">
                            <a href="/admin/privileges" class="nav__link">Prawa</a>
                        </li>
                        <li class="nav__item">
                            <a href="/admin/comments" class="nav__link">Komentarze</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class='admin__column admin__column--right'>
                <header class="flex-wrapper admin__header">
                    <div class="admin__user">uzytkownik</div>
                </header>