<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body id="admin">
    <header class='hidden'>
        <nav>
            <div class="logo">
                <h1>www.esportsite.com</h1>
                <span class="square"></span>
                <a href="/"></a>
            </div>
            <ul>
                <li><a href="/admin/dashboard">DASHBOARD</a></li>
                <li><a href="/admin/articles">ARTYKUŁY</a>
                    <ol>
                        <li><a href="/admin/articles/add-article">Dodaj artykuł</a></li>
                    </ol>
                </li>
                <li><a href="/admin/users">UŻYTKOWNICY</a></li>
                <li><a href="/admin/comments">KOMENTARZE</a></li>
            </ul>
        </nav>
    </header>