<footer>
    <h2>FOOTER</h2>
    <div class="container">
        <div class="footer_wrapper">
            <section class="footer_company">
                <div class="logo_wrapper  clearfix">
                    <img src="/assets/img/logo_footer.png" alt="mini logo">
                    <h4>ESPORT <strong><br>NEWS</strong></h4>
                </div>
                <!--                    DO SPRAWDZENIA/POPRAWY-->
                <address>
                       <p>Thomas Nolan Kaszas</p>
                       <p>II5322 Otter Lane</p>
                       <p>Middleberge FL 32068 </p>
                       <p>+66 (0) 8 52 41 55 79</p>
                       <p>info@examplemail.com</p>
                </address>
            </section>
            <nav class="footer_lol">
                <!--               DISPLAY:NONE;-->
                <h4>LOL</h4>
                <ul>
                    <li>LOL
                        <ul>
                            <li><a href="/lol/events">wydarzenia</a></li>
                            <li><a href="/lol/matches">mecze</a></li>
                            <li><a href="/lol/teams">drużyny</a></li>
                            <li><a href="/lol/results">wyniki</a></li>
                            <li><a href="/lol/statistics">statystyki</a></li>
                            <li><a href="/lol/ranking">ranking</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="footer_csgo">
                <!--               DISPLAY:NONE;-->
                <h4>CSGO</h4>
                <ul>
                    <li>CS:GO
                        <ul>
                            <li><a href="/csgo/events">wydarzenia</a></li>
                            <li><a href="/csgo/matches">mecze</a></li>
                            <li><a href="/csgo/teams">drużyny</a></li>
                            <li><a href="/csgo/results">wyniki</a></li>
                            <li><a href="/csgo/statistics">statystyki</a></li>
                            <li><a href="/csgo/ranking">ranking</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <section class="footer_about">
                <h4>ABOUT US</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, expedita in voluptate recusandae laboriosam maiores eos id. Sit aliquid totam qui doloribus atque esse vero, magni quos, ab recusandae iste.</p>
            </section>
        </div>
        <p id='copyrights'><strong>Copyright &copy;2017 - </strong>www.esportnews.com. Wszelkie prawa zastrzeżone.</p>
    </div>
</footer>
<script src="/assets/js/search_input.js"></script>
<script src="/assets/js/mobile_nav.js"></script>
</body>

</html>
