<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="item">
                A
            </div>
            <div class="item">
                B
            </div>
            <div class="item">
                C
            </div>
            <div class="item">
                D
            </div>
            <div class="item">
                E
            </div>
        </div>
        Copyright &copy; 2017 www.esportnews.com. Wszelkie prawa zastrzeżone.
    </div>
</footer>