<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_company">
                <div class="logo_wrapper">
                    <img src="/assets/img/logo_footer.png" alt="mini logo">
                    <h4>ESPORT <strong><br>NEWS</strong></h4>
<!--                    DO SPRAWDZENIA/POPRAWY-->
                    <address>
                       Thomas Nolan Kaszas II<br>
                       5322 Otter Lane<br>
                    Middleberge FL 32068 <br><br>
                    +66 (0) 8 52 41 55 79<br>
                    info@examplemail.com
                    </address>
                </div>
            </div>
            <nav class="footer_lol">
                <ul>
                    <li>LOL
                        <ul>
                            <li><a href="#">wydarzenia</a></li>
                            <li><a href="#">mecze</a></li>
                            <li><a href="#">drużyny</a></li>
                            <li><a href="#">wyniki</a></li>
                            <li><a href="#">statystyki</a></li>
                            <li><a href="#">ranking</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="footer_csgo">
                <ul>
                    <li>CS:GO
                        <ul>
                            <li><a href="#">wydarzenia</a></li>
                            <li><a href="#">mecze</a></li>
                            <li><a href="#">drużyny</a></li>
                            <li><a href="#">wyniki</a></li>
                            <li><a href="#">statystyki</a></li>
                            <li><a href="#">ranking</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="footer_about">
                <h5>ABOUT US</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, expedita in voluptate recusandae laboriosam maiores eos id. Sit aliquid totam qui doloribus atque esse vero, magni quos, ab recusandae iste.</p>
            </div>
        </div>
        <p id='copyrights'><strong>Copyright &copy;2017 - </strong>www.esportnews.com. Wszelkie prawa zastrzeżone.</p>
    </div>
</footer>