<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<!--    DO POPRAWY-->
    <title>
        {{#if authorData}}{{mainNews.title}}{{else}}Home - eSportSite.com{{/if}}
    </title>
    <link rel="icon" type="image/png" href="/assets/img/logo_ico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <!--[if IE]><link rel="SHORTCUT ICON" href="/assets/img/logo_ico.png"/><![endif]-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>
<body>
    <header class="header clearfix">
        <div class='container clearfix'>
            <div class='logo f-l'>
                <h1>
                    www.esportsite.com
                    <span class='square'></span>
                    <a href="/"></a>
                </h1>
            </div>
            <div class="login_wrapper f-r">
                <ul class='login'>
                    <li><a href="/profil/register">REJESTRACJA</a></li>
                    <li id='loginButton'><a>ZALOGUJ SIĘ</a></li>
                </ul>
                <div class="panel">
                    <section class="login_panel clearfix">
                        <h2 class='f-l'>Logowanie</h2>
                        <span class='exit f-r'>X</span>
                        <label for="username">Nazwa użytkownika:</label>
                        <input type="text" name='username' id='username'>
                        <label for="password">Hasło:</label>
                        <input type="password" name='password' id='password'>
                        <label for="forgot_password" class='forgot_password'>
                            <a href="#">Zapomniałeś hasła? Kliknij tutaj</a>
                        </label>
                        <button type="submit">Zaloguj się</button>
                    </section>
                </div>
            </div>
        </div>
        <nav class="navbar f-l">
            <!-- ONLY FOR OUTLINE PURPOSE -->
            <h2 style='display:none'>Nawigacja</h2>
            <!-- END OF H2 -->
            <div class="container clearfix">
                <ul class="toggleNav f-l">
                    <li><a>CS:GO</a>
                        <ol class='subNav'>
                            <li>
                                <a href="/csgo/events">Wydarzenia</a></li>
                            <li>
                                <a href="/csgo/matches">Mecze</a></li>
                            <li>
                                <a href="/csgo/teams">Drużyny</a></li>
                            <li>
                                <a href="/csgo/results">Wyniki</a></li>
                            <li>
                                <a href="/csgo/statistics">Statystyki</a></li>
                            <li>
                                <a href="/csgo/ranking">Ranking</a></li>
                        </ol>
                    </li>
                    <li><a>LOL</a>
                        <ol class='subNav'>
                            <li>
                                <a href="/lol/events">Wydarzenia</a></li>
                            <li>
                                <a href="/lol/matches">Mecze</a></li>
                            <li>
                                <a href="/lol/teams">Drużyny</a></li>
                            <li>
                                <a href="/lol/results">Wyniki</a></li>
                            <li>
                                <a href="/lol/statistics">Statystyki</a></li>
                            <li>
                                <a href="/lol/ranking">Ranking</a></li>
                        </ol>
                    </li>
                </ul>
                <ul class="nav f-l">
                    <li><a href="/news/archives">ARCHIWUM</a></li>
                    <li><a href="/gallery">GALERIA</a></li>
                    <li><a href="/contact">KONTAKT</a></li>
                </ul>
                <!--                DO ZROBIENIA-->
                <div class="searchEngine hidden f-r">
                    <form action="">
                        <input type="search" name="search" id='search' placeholder="search..."> </form>
                    <button type='button' id='searchButton'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
