<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--    DO POPRAWY-->
    <title>
        {{title}} - eSportSite
    </title>
    <link rel="icon" type="image/png" href="/assets/img/logo_ico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!--[if IE]><link rel="SHORTCUT ICON" href="/assets/img/logo_ico.png"/><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>

<body>
    <div class='container'>
        <header id='header'>
            <section class="topbar">
                <span class="greeting">{{currentServerTime}}</span>
                <div class="social">
                    <ul class="social__list">
                        <li class="social__item" title='facebook'>
                            <a class='social__link social__link--facebook' href="#">f</a>
                        </li>
                        <li class="social__item" title='twitter'>
                            <a class='social__link social__link--twitter' href="#">o</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="nav">
                <div class="logo">logotyp</div>
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item"><a class='navigation__link' href="/">głowna</a></li>
                        <li class="navigation__item"><a class='navigation__link' href="/articles">artykuły</a></li>
                        <li class="navigation__item"><a class='navigation__link' href="/interviews">wywiady</a></li>
                        <li class="navigation__item"><a class='navigation__link' href="#">szukaj</a></li>
                        <li class="navigation__item"><a class='navigation__link' href="contact">kontakt</a></li>
                    </ul>
                </nav>
            </section>
        </header>