<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/assets/img/logo_ico.png">
    <!--[if IE]><link rel="SHORTCUT ICON" href="/assets/img/logo_ico.png"/><![endif]-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <div class='container'>
            <div class='logo'>
                <a href="/"></a>
            </div>
            <div class="navBg">
                <ul class='login'>
                    <li><a href="#">REJESTRACJA</a></li>
                    <li><a href="#">ZALOGUJ SIĘ</a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar">
            <div class="container">
                <ul class="dropDown">
                    <li><a href="#">CS:GO</a></li>
                    <li><a href="#">LOL</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="#">ARCHIWUM</a></li>
                    <li><a href="#">GALERIA</a></li>
                    <li><a href="#">KONTAKT</a></li>
                </ul>
                <!--                DO ZROBIENIA-->
                <div class="searchEngine">
                    <button type='submit'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
