<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/assets/img/logo_ico.png">
    <!--[if IE]><link rel="SHORTCUT ICON" href="/assets/img/logo_ico.png"/><![endif]-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>

<body>
    <header class="header clearfix">
        <div class='container'>
            <div class='logo'>
                <a href="/"></a>
            </div>
            <div class="login_wrapper">
                <ul class='login'>
                    <li><a href="#">REJESTRACJA</a></li>
                    <li><a href="#">ZALOGUJ SIĘ</a></li>
                </ul>
                <div class="panel">
                    <section class="login_panel">
                        <h2>Logowanie</h2>
                        <label for="username">Nazwa użytkownika:</label>
                        <input type="text" name='login' id='login'>
                        <label for="password">Hasło:</label>
                        <input type="password" name='password' id='password'>
                        <label for="forgot_password" class='forgot_password'>
                            <a href="#">Zapomniałeś hasła? Kliknij tutaj</a>
                        </label>
                        <button type="submit">Zaloguj się</button>
                    </section>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container">
                <ul class="dropDown">
                    <li><a href="#">CS:GO</a></li>
                    <li><a href="#">LOL</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="#">ARCHIWUM</a></li>
                    <li><a href="#">GALERIA</a></li>
                    <li><a href="#">KONTAKT</a></li>
                </ul>
                <!--                DO ZROBIENIA-->
                <div class="searchEngine">
                    <button type='submit'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
