<main>
    <section class="error">
        <div class="error__wrapper">
            <span class="error__code">OOPS!</span>
            <span class="error__reason">404</span>
        </div>
        <span class='error__info'>Taka strona nie istnieje</span>
        <a class="button button--primary latest__button" href='/'>strona główna</a>
    </section>
</main>