<main>
    <div class="container">
        <div class="error_wrapper hidden">
            <h2>{{title}}</h2>
            <p>{{desc}}</p>
            <h4>{{fun}}</h4>
        </div>
    </div>
</main>
