<main>
    <div class="container">
        <div class="addArticle_wrapper hidden">
            <section class='margin20'>
                <h2 style='padding:4px; border-bottom:4px solid #222; color:#222'>Dodawanie artykułu</h2>
                <form action="/news/addArticle" id='addArticle' method="post">
                    <label>Tytuł:<input type="text" name='title' id="title"></label>
                    <label>Kategoria: <select name="category" id="category">
                        <option value="lol">League of Legends</option>
                        <option value="csgo">CounterStrike: Global Offensive</option>
                    </select></label>
                    <label>Autor: <input type="text" name="author" id="author"></label>
                    <label>Zdjęcie: <input type="file" id="fileinput" /></label>
                    <label for="body" style="margin-bottom:4px">Tekst:</label>
                    <textarea name="body" id="body" cols="30" rows="10"></textarea>
                    <button type="submit">Dodaj</button>
                </form>
            </section>
        </div>
    </div>
</main>
