    <main>
        <div class="container-fluid">
            <div class="user hidden">
                <div class="header">
                    <h2>KOMENTARZE - www.esportsite.com</h2>
                </div>
                <div class="user_info">
                    <img src="{{user.avatar}}" alt="{{user.username}}">
                    <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                    <span><a href="/logout">wyloguj się</a></span>
                </div>
            </div>
            <div class="stats clearfix">
                <div class="column tomato">
                    <div class="comment">
                        <p class='count'>51</p>
                        <p>Comments</p>
                    </div>
                </div>
            </div>
            <div class="feed">
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Data komentarza</th>
                            <th>Treść</th>
                            <th>Ustawienia</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Test22</td>
                        <td>20/08/2017, godz. 15:22</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae maiores tempore minus a, molestiae magnam dolore quia veniam cupiditate incidunt reiciendis. Autem fugiat rerum eius, reprehenderit officiis dolorem et laboriosam!</td>
                        <td>banuj/usuń</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</body>

</html>
