<main class="admin__column admin__main">
    <section class="admin__location">
        <h1>{{title}}</h1>
        <span class="admin__road">admin &rsaquo; dashboard</span>
    </section>
</main>
</section>
</div>
</body>

</html>