<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body id="admin">
    <header class='hidden'>
        <nav>
            <div class="logo">
                <h1>www.esportsite.com</h1>
                <span class="square"></span>
                <a href="/"></a>
            </div>
            <ul>
                <li><a href="">DASHBOARD</a></li>
                <li><a href="">ARTYKUŁY</a></li>
                <li><a href="">UŻYTKOWNICY</a></li>
                <li><a href="">KOMENTARZE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="user hidden">
                <div class="header">
                    <h2>DASHBOARD - www.esportsite.com</h2>
                </div>
                <div class="user_info">
                    <img src="{{user.avatar}}" alt="{{user.username}}">
                    <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                    <span><a href="/logout">wyloguj się</a></span>
                </div>
            </div>
            <div class="stats clearfix">
                <div class="column orange">
                    <div class="post">
                        <p class='count'>25</p>
                        <p>Posts</p>
                    </div>
                </div>
                <div class="column turq">
                    <div class="user">
                        <p class='count'>51</p>
                        <p>Users</p>
                    </div>
                </div>
                <div class="column tomato">
                    <div class="comment">
                        <p class='count'>157</p>
                        <p>Comments</p>
                    </div>
                </div>
            </div>
            <div class="feed">
                <section>
                    <h4 style='border-bottom: 2px solid orange'>Lastest posts feed</h4>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Tytuł: <a href="/newss/lol/SK Telecom T1 miażdży Afreeca Freecs w playoffach!">SK Telecom T1 miażdży Afreeca Freecs w playoffach!</a></p>
                            <p>Data wpisu: 16/08/2017, godz. 11:05 przez <a href="/profil/xaoo">xaoo</a>.</p>
                        </div>
                    </div>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Tytuł: <a href="/newss/lol/SK Telecom T1 miażdży Afreeca Freecs w playoffach!">SK Telecom T1 miażdży Afreeca Freecs w playoffach!</a></p>
                            <p>Data wpisu: 16/08/2017, godz. 11:05 przez <a href="/profil/xaoo">xaoo</a>.</p>
                        </div>
                    </div>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Tytuł: <a href="/newss/lol/SK Telecom T1 miażdży Afreeca Freecs w playoffach!">SK Telecom T1 miażdży Afreeca Freecs w playoffach!</a></p>
                            <p>Data wpisu: 16/08/2017, godz. 11:05 przez <a href="/profil/xaoo">xaoo</a>.</p>
                        </div>
                    </div>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Tytuł: <a href="/newss/lol/SK Telecom T1 miażdży Afreeca Freecs w playoffach!">SK Telecom T1 miażdży Afreeca Freecs w playoffach!</a></p>
                            <p>Data wpisu: 16/08/2017, godz. 11:05 przez <a href="/profil/xaoo">xaoo</a>.</p>
                        </div>
                    </div>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Tytuł: <a href="/newss/lol/SK Telecom T1 miażdży Afreeca Freecs w playoffach!">SK Telecom T1 miażdży Afreeca Freecs w playoffach!</a></p>
                            <p>Data wpisu: 16/08/2017, godz. 11:05 przez <a href="/profil/xaoo">xaoo</a>.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <h4 style='border-bottom: 2px solid turquoise'>Lastest users feed</h4>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Profil użytkownika: <a href="/profil/xaoo">Xaoo</a></p>
                            <p>Data rejestracji: 16/08/2017, godz. 11:05</p>
                        </div>
                    </div>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Profil użytkownika: <a href="/profil/xaoo">Xaoo</a></p>
                            <p>Data rejestracji: 16/08/2017, godz. 11:05</p>
                        </div>
                    </div>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Profil użytkownika: <a href="/profil/xaoo">Xaoo</a></p>
                            <p>Data rejestracji: 16/08/2017, godz. 11:05</p>
                        </div>
                    </div>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Profil użytkownika: <a href="/profil/xaoo">Xaoo</a></p>
                            <p>Data rejestracji: 16/08/2017, godz. 11:05</p>
                        </div>
                    </div>
                    <div class="feed_wrapper">
                        <img src="/assets/img/avatars/default-avatar.jpg" alt="avatar">
                        <div class="info">
                            <p>Profil użytkownika: <a href="/profil/xaoo">Xaoo</a></p>
                            <p>Data rejestracji: 16/08/2017, godz. 11:05</p>
                        </div>
                    </div>
                </section>
                <section>
                    <h4 style='border-bottom: 2px solid tomato'>Lastest comments feed</h4>
                    <div class="feed_wrapper">
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>

</html>
