<main>
    <div class="container">
        <div class="_wrapper clearfix">
            <section class="occ f-l">
                <h1>{{title}}</h1>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:290px; height:250px; float:left; margin-right:0px; margin-top:10px; background: red'></div>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:290px; height:250px; float:left; margin-right:0px; margin-top:10px; background: red'></div>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:291px; height:250px; float:left; margin-right:11px; margin-top:10px; background: red'></div>
                <div style='width:290px; height:250px; float:left; margin-right:0px; margin-top:10px; background: red'></div>
            </section>
        </div>
    </div>
</main>
