<main>
    <div class='news_wrapper'>
        <div class="container">
            <section class="related_news">
                <h3>POLECANE NEWSY</h3>
                <article class="item">a</article>
                <article class="item">b</article>
                <article class="item">c</article>
                <article class="item">d</article>
                <article class="item">e</article>
            </section>
            <article class="main_news">
                <header>
                    <figure>
                        <img src="../../../assets/img/news/vp_winning.jpg" alt="">
                            <h1>{{title}}</h1>
                    </figure>
                </header>
                <section class='content'>
                    <p>{{{text}}}</p>
                </section>
                <aside>
                    <h3>REKLAMA</h3>
                    <p>miejsce na reklamę</p>
                </aside>
            </article>
        </div>
    </div>
</main>
