<main>
    <div class='news_wrapper'>
        <div class="container">
            <section class="related_news">
                <h3>POLECANE NEWSY</h3>
                <!--                PRZYKÅADOWY ROUTE-->
                <a href="/news/csgo/Virtus.Pro wygrywa PGL Major w Krakowie!">
                    <article class="item">A</article>
                </a>
                <a href="/news/csgo/Virtus.Pro wygrywa PGL Major w Krakowie!">
                    <article class="item">B</article>
                </a>
                <a href="/news/csgo/Virtus.Pro wygrywa PGL Major w Krakowie!">
                    <article class="item">C</article>
                </a>
                <a href="/news/csgo/Virtus.Pro wygrywa PGL Major w Krakowie!">
                    <article class="item">D</article>
                </a>
            </section>
            <article class="main_news">
                <header>
                    <figure>
                        <img src="../../../assets/img/news/vp_winning.jpg" alt="">
                        <h1>{{title}}</h1>
                    </figure>
                </header>
                <section class='content'>
                    <p>{{{text}}}</p>
                </section>
                <aside>
                    <h4>O Autorze</h4>
                    <div class="author_wrapper">
                        <img src="http://piq.codeus.net/static/media/userpics/piq_49894_400x400.png" alt="avatar">
                        <div class="info">
                            <p><strong>XaooBBX</strong></p>
                            <p>Redaktor</p>
                        </div>
                    </div>
                    <div class="about_wrapper">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti harum autem quas voluptatum! Perferendis atque ea quia, delectus aperiam vitae eligendi nihil rerum excepturi iusto, adipisci eveniet. Nesciunt dolorum cum laborum iusto quo inventore soluta ex quae expedita, hic sequi totam! Modi esse possimus repudiandae laboriosam corporis, itaque, dicta debitis!</p>
                    </div>
        </div>
        </aside>
        </article>
    </div>
    </div>
</main>
