<main>
    <div class="container">
        <div class="_wrapper clearfix">
            <section class="occ f-l">
                <h1>Ranking</h1>
            </section>
        </div>
    </div>
</main>
