<main>
    <div class="container">
        <div class="_wrapper clearfix">
            <section class="occ f-l">
                <h1>Rejestracja</h1>
                <form id='registerForm' action="/register" method='post'>
                    <label for="username">Nazwa użytkownika:</label>
                    <input type="text" name='username' id='username' maxlength='20' placeholder='Username' required>
                    <label for="email">Email:</label>
                    <input type="email" name='email' id="email" maxlength='35' placeholder='Example@gmail.com' required>
                    <label for="password">Hasło:</label>
                    <input type="password" name='password' id="password" minlength='8' placeholder='Password' required>
                    <label for="confirm_password">Powtórz hasło:</label>
                    <input type="password" id="confirm_password" minlength='8' placeholder='Confirm Password' required> 
                    {{#if Error}}
                    <div class="form-error">{{Error}}</div>
                    {{/if}}
                    <div class="g-recaptcha" data-sitekey="6Le9ai0UAAAAAKhR2RO2hbeOS7ksRb15RIxaFeEo"></div>
                    <input type="submit" name='submit' value='Zarejestruj się' />
                </form>
            </section>
        </div>
    </div>
</main>
