<main>
    <div class="container">
        <div class="_wrapper clearfix">
            <section class="occ f-l">
                <h1>{{title}}</h1>
                <span><strong>{{username}}</strong> zostałeś pomyślnie zarejestrowany!</span>
                <p style='margin-top:10px;'>Aby korzystać ze wszystkich dogodności serwisu musisz potwierdzić rejestrację.</p><p>Poszę wejdź na swojego maila <strong>{{email}}</strong> i zrób to teraz! </p>
            </section>
        </div>
    </div>
</main>
