<main>
    <div class="login-wrapper">
        <section class="login">
            <h1 class="section-header">Rejestracja</h1>
            <form action="/register" class="form login__form" method="POST">
                <div>
                    <label for="username" class="label">nazwa użytkownika</label>
                    <input type="text" name='username' class="input" id='username' required>
                </div>
                <div>
                    <label for="email" name='email' class='label'>Email:</label>
                    <input type="email" name='email' class='input' id="email" required>
                </div>
                <div>
                    <label for="password" class="label">hasło</label>
                    <input type="password" name='password' class="input" id='password' required>
                </div>
                <div>
                    <label for="password" class="label">powtórz hasło</label>
                    <input type="password" name='cpassword' class="input" id='confirm-password' required>
                </div>
                <div class='login__footer'>
                    <p><span class='required'>*</span> - pole jest wymagane</p>
                    <a href="/login" class='link login-link'>Masz konto? Zaloguj się!</a>
                </div>
                {{#if Error}}
                <div>{{Error}}</div>
                {{/if}}
                <button class="button button--primary login__button" type='submit'>zarejestruj się</button>
            </form>
        </section>
    </div>
</main>
<script>
    //nie działa
    document.querySelector('button').onClick = validateForm;
</script>

{{!-- <main>
    <div class="container">
        <div class="_wrapper clearfix">
            <section class="occ f-l">
                <h1>Rejestracja</h1>
                <form id='registerForm' action="/register" method='post'>
                    <label for="username">Nazwa użytkownika:</label>
                    <input type="text" name='username' id='username' maxlength='20' placeholder='Username' required>
                    <label for="email">Email:</label>
                    <input type="email" name='email' id="email" maxlength='35' placeholder='Example@gmail.com' required>
                    <label for="password">Hasło:</label>
                    <input type="password" name='password' id="password" minlength='8' placeholder='Password' required>
                    <label for="confirm_password">Powtórz hasło:</label>
                    <input type="password" id="confirm_password" minlength='8' placeholder='Confirm Password' required> {{#if Error}}
                    <div class="form-error">{{Error}}</div>
                    {{/if}}
                    <div class="g-recaptcha" data-sitekey="6Le9ai0UAAAAAKhR2RO2hbeOS7ksRb15RIxaFeEo"></div>
                    <input type="submit" name='submit' value='Zarejestruj się' />
                </form>
                <script>
                    let password = document.querySelector('.login__form #password'),
                        confirmPassword = document.querySelector('#login_ #confirm-password');

                    let validate = () => {
                        confirmPassword.setCustomValidity(password.value !== confirmPassword.value ? 'Hasła nie pasują do siebie!' : '')
                    }

                    password.onchange = validate;
                    confirmPassword.onkeyup = validate;

                </script>
            </section>
        </div>
    </div>
</main> --}}