<main>
    <div class="container">
        <div class="_wrapper clearfix">
            <section class="occ f-l">
                <h1>{{title}}</h1>
                <span><b>{{username}}</b> zostałeś pomyślnie zarejestrowany!</span>
                <p style='margin-top:10px;'>Aby korzystać ze wszystkich dogodności serwisu możesz się zalogować <a href="/login">tutaj</a>.</p
            </section>
        </div>
    </div>
</main>
