<main>
    <section class="unauthenticated">
        <h1 class="section-header">Dostępność</h1>
        <div class="unauthenticated__inner">
            <p>Konta mogą posiadać tylko użytkownicy, którzy zarządzają serwisem.</p>
            <p>Jeżeli jesteś zainteresowany i chcesz być rekaktorem lub moderatorem
                <a href="/contact" class="link">skontaktuj się<a />
                    z administratorem serwisu.
            </p>
        </div>
    </section>
</main>