body {
  font-size: 16px;
  font-family: "UbuntuR";
  background: #d3d7e1; }

.container {
  max-width: 1120px;
  margin: 0 auto; }

main {
  background: #fff;
  margin: 30px 0;
  overflow: hidden; }

@font-face {
  font-family: "UbuntuR";
  src: url("../fonts/Ubuntu-Regular.ttf"); }
@font-face {
  font-family: "UbuntuL";
  src: url("../fonts/Ubuntu-Light.ttf"); }
@font-face {
  font-family: "UbuntuB";
  src: url("../fonts/Ubuntu-Bold.ttf"); }
@font-face {
  font-family: "Social";
  src: url("../fonts/Socialico.otf"); }
@font-face {
  font-family: "TruenoB";
  src: url("../fonts/TruenoBd.otf"); }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  font-size: 1.1em; }
  .header--primary {
    font-size: 1.6em; }
  .header--secondary {
    font-family: "UbuntuL";
    font-size: 1.15em;
    line-height: 1.2; }

.button {
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.25s all;
  transition: 0.25s all; }
  .button--primary {
    color: #fff;
    font-family: "UbuntuB";
    background: #0396db; }
    .button--primary:hover {
      background: #0274a9; }

.section-header {
  font-family: "UbuntuL";
  font-size: 1.2em; }

#header {
  background: #fff;
  border-bottom: 1px solid #d3d7e1; }
  #header .topbar {
    padding: 0 30px;
    border-bottom: 1px solid #d3d7e1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  #header .greeting {
    font-size: 0.75em; }

.social__list {
  list-style-type: none; }
.social__item {
  display: inline-block; }
.social__link {
  font-size: 2.2em;
  text-decoration: none;
  -webkit-transition: 0.25s all;
  transition: 0.25s all; }
  .social__link svg {
    border-radius: 50%;
    background: #d3d7e1;
    fill: #fff;
    -webkit-box-sizing: initial;
            box-sizing: initial;
    padding: 4px;
    height: 18px; }
  .social__link--facebook:hover svg {
    background: #3b5998;
    color: #fff;
    fill: #fff; }
  .social__link--twitter:hover svg {
    background: #00aced;
    color: #fff;
    fill: #fff; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px; }
  .nav .hamburger {
    font-size: 1.5em;
    font-family: "UbuntuB";
    line-height: 64px; }
  .nav .logo {
    line-height: 64px; }

.navigation {
  display: none; }
  .navigation__list {
    list-style-type: none; }
  .navigation__item {
    display: inline-block; }
  .navigation__link {
    text-decoration: none;
    display: block;
    padding: 25px 12px;
    font-size: 0.8em;
    color: #96a0b8;
    text-transform: uppercase;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
    font-family: "UbuntuB"; }
    .navigation__link:hover {
      background: #0396db;
      color: #fff; }

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 30px; }
  .articles .column--main {
    width: 100%; }
  .articles .column--aside {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .articles .main {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    max-height: 300px; }
    .articles .main__image-wrapper {
      max-height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .articles .main__image {
      height: 250px; }
  .articles .aside {
    cursor: pointer;
    position: relative;
    max-height: 110px;
    overflow: hidden;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px; }
    .articles .aside:not(:last-child) {
      margin-bottom: 10px; }
    .articles .aside__image-wrapper {
      max-height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      overflow: hidden; }
    .articles .aside__image {
      width: 100%; }
  .articles__header {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.45);
    left: 0;
    bottom: 0;
    color: #fff; }
    .articles__header--main {
      padding: 25px; }
    .articles__header--aside {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      left: 50%;
      padding: 0 10px;
      height: 100%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .articles__footer {
    margin-top: 3px;
    font-size: 0.8em; }
  .articles__category {
    background: #0396db;
    padding: 5px 8px;
    font-size: 0.8em;
    font-family: "TruenoB"; }

.latest {
  margin-top: 30px; }
  .latest .articles {
    margin: 15px; }
  .latest__title {
    font-size: 0.9em;
    font-family: "UbuntuL"; }
  .latest__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    max-height: 150px; }
  .latest__image {
    width: 100%; }
  .latest--margin {
    margin: 0 30px; }
  .latest .column {
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .latest .column--left {
      -ms-flex-item-align: start;
          align-self: flex-start;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 500px;
              flex: 1 1 500px; }
    .latest .column--right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 250px;
              flex: 1 1 250px; }
  .latest__article {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 5px 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 220px;
            flex: 1 1 220px; }
    @media (min-width: 530px) {
      .latest__article {
        margin: 15px; } }
  .latest__container {
    margin: 15px 0; }
  .latest__link {
    cursor: pointer;
    display: block;
    color: inherit;
    position: relative;
    text-decoration: none; }
    .latest__link:visited {
      color: #d3d7e1; }
  .latest--mini {
    margin: 0 15px;
    padding: 15px 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    cursor: pointer;
    -webkit-transition: 0.35s all;
    transition: 0.35s all; }
    .latest--mini:not(:last-child) {
      border-bottom: 1px solid #d3d7e1; }
    .latest--mini:hover {
      background: #0396db;
      color: #ffffff; }
  .latest .meta {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.35);
    color: #fff; }
    .latest .meta__header {
      font-family: "UbuntuL";
      color: inherit; }
    .latest .meta__footer {
      color: inherit;
      font-size: 0.8em;
      margin-top: 10px; }
    .latest .meta__category {
      padding: 5px 8px;
      display: inline-block;
      background: #0396db;
      color: #fff;
      font-family: "UbuntuB";
      letter-spacing: 0.5px; }
    .latest .meta__author {
      margin-left: 4px; }
  .latest__button {
    text-decoration: none;
    font-size: 0.85em;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 30px; }

.footer {
  background: #fff;
  padding: 30px;
  text-align: center;
  color: #96a0b8;
  font-size: 0.75em; }

/* HEADER/NAV */
@media (min-width: 600px) {
  .nav .hamburger {
    display: none; } }
@media (min-width: 600px) {
  .nav .navigation {
    display: block; } }

/* ARTICLES */
@media (min-width: 320px) {
  .articles .header--primary {
    font-size: 1.2em; } }
@media (min-width: 320px) {
  .articles .articles__footer {
    font-size: 0.7em; } }
@media (min-width: 840px) {
  .articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; } }
@media (min-width: 840px) {
  .articles .column--main {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7; } }
@media (min-width: 840px) {
  .articles .column--aside {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
    margin-top: 0; } }
@media (min-width: 840px) {
  .articles .main {
    max-height: 350px; } }
@media (min-width: 420px) {
  .articles .main__image {
    width: 100%;
    height: auto; } }

@media (min-width: 840px) {
  .aside {
    margin-left: 10px; } }

/*# sourceMappingURL=main.css.map */