* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-size: 16px;
  background: #107dac;
  font-family: "Lato";
  color: #ffffff; }
  body .container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
  body header {
    border-top: 4px solid #333; }
    body header .logo {
      margin-top: 4px;
      float: left;
      width: 60%;
      height: 49px;
      background: url(../img/logo.png) no-repeat; }
      body header .logo a {
        padding: 33px 100px; }
    body header .navBg {
      position: relative;
      float: right;
      width: 40%;
      height: 49px;
      background: rgba(0, 0, 0, 0.2);
      margin-bottom: 50px; }
      body header .navBg ul.login {
        margin: 0 70px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        list-style: none; }
        body header .navBg ul.login li {
          margin-left: -20px;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          display: inline-block;
          height: 49px; }
          body header .navBg ul.login li a {
            font-family: "Righteous";
            font-size: .8em;
            color: #ffffff;
            text-decoration: none;
            line-height: 49px; }
            body header .navBg ul.login li a:hover {
              text-decoration: underline; }
          body header .navBg ul.login li:first-child {
            background: #333;
            padding-left: 20px;
            padding-right: 20px;
            position: relative; }
            body header .navBg ul.login li:first-child:before {
              position: absolute;
              left: -45px;
              content: '';
              border-bottom: 49px solid #333;
              border-left: 45px solid transparent; }
            body header .navBg ul.login li:first-child:after {
              position: absolute;
              content: '';
              right: -45px;
              border-bottom: 49px solid transparent;
              border-left: 45px solid #333; }
      body header .navBg:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        border-top: 49px solid transparent;
        border-left: 45px solid #107dac; }
      body header .navBg:after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        border-top: 49px solid transparent;
        border-right: 45px solid #107dac; }
  body .navbar {
    background: #222222;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #555555; }
    body .navbar .dropDown {
      width: 55%;
      height: 55px;
      float: left; }
      body .navbar .dropDown li {
        width: 50%;
        display: inline;
        line-height: 55px;
        margin-left: 65px; }
        body .navbar .dropDown li a {
          color: #fff;
          font-family: "Righteous";
          font-size: 1.1em;
          text-decoration: none;
          position: relative; }
          body .navbar .dropDown li a:after {
            font-family: "Righteous";
            position: absolute;
            content: '^';
            font-size: 2.5em;
            color: #107dac;
            height: 46px;
            right: -15px;
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg); }
          body .navbar .dropDown li a:hover {
            color: #107dac; }
    body .navbar .nav {
      float: left;
      width: 30%;
      height: 55px; }
      body .navbar .nav li {
        float: left;
        list-style: none;
        line-height: 55px; }
        body .navbar .nav li a {
          text-decoration: none;
          padding: 21px;
          color: #fff;
          font-family: "Righteous";
          font-size: .9em;
          -webkit-transition: .2s all linear;
                  transition: .2s all linear; }
          body .navbar .nav li a:hover {
            background: #333;
            color: #107dac; }
    body .navbar .searchEngine {
      width: 15%;
      float: right;
      line-height: 55px;
      height: 55px;
      position: relative; }
      body .navbar .searchEngine button {
        position: absolute;
        right: 0;
        top: 11px;
        padding: 10px;
        background: #333;
        border: none;
        border-radius: 6px;
        color: #ffffff; }
        body .navbar .searchEngine button:hover {
          color: #107dac;
          cursor: pointer; }
  body main .news_wrapper {
    width: 100%;
    background: #fcfcfc;
    color: #222222; }
    body main .news_wrapper .related_news {
      width: 25%;
      float: left; }
      body main .news_wrapper .related_news h3 {
        background: #107dac;
        text-align: center;
        color: #ffffff;
        padding: 14px;
        font-size: 1em;
        font-family: "Lato"; }
        body main .news_wrapper .related_news h3:after {
          content: ''; }
      body main .news_wrapper .related_news .item {
        color: #222222;
        height: 250px;
        background: rgba(0, 0, 0, 0.1);
        margin-bottom: 1px; }
    body main .news_wrapper .main_news {
      width: 75%;
      float: left; }
      body main .news_wrapper .main_news header {
        border: none;
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative; }
        body main .news_wrapper .main_news header img {
          margin-top: -40px; }
        body main .news_wrapper .main_news header h1 {
          font-family: "Righteous";
          font-weight: lighter;
          position: absolute;
          width: 90%;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          color: #ffffff;
          text-align: center;
          padding: 20px;
          background: #107dac; }
      body main .news_wrapper .main_news .content {
        padding: 10px 8px;
        width: 72.22222%;
        float: left; }
        body main .news_wrapper .main_news .content p {
          margin-bottom: 20px; }
      body main .news_wrapper .main_news aside {
        display: block;
        margin-top: 1px;
        width: 27.77778%;
        float: left;
        color: #ffffff; }
        body main .news_wrapper .main_news aside h4 {
          background: #107dac;
          padding: 14px; }
        body main .news_wrapper .main_news aside .author_wrapper {
          margin-top: 10px;
          position: relative;
          overflow: hidden; }
          body main .news_wrapper .main_news aside .author_wrapper img {
            border: 10px solid #107dac;
            height: 100px;
            width: 100px;
            float: left; }
          body main .news_wrapper .main_news aside .author_wrapper .info {
            position: absolute;
            bottom: -2px;
            right: -3px;
            margin-left: 1px;
            width: 149px;
            float: right; }
            body main .news_wrapper .main_news aside .author_wrapper .info p {
              color: #222222; }
        body main .news_wrapper .main_news aside .about_wrapper {
          margin-top: 10px;
          background: #107dac;
          padding: 10px;
          text-align: justify; }
          body main .news_wrapper .main_news aside .about_wrapper p {
            color: #ffffff;
            font-size: .9em; }
      body main .news_wrapper .main_news .post_comments {
        margin-top: 40px; }
        body main .news_wrapper .main_news .post_comments h1 {
          color: #ffffff;
          background: #107dac;
          padding: 6px; }
        body main .news_wrapper .main_news .post_comments article {
          padding: 10px 4px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
          body main .news_wrapper .main_news .post_comments article:last-child {
            border: none;
            margin-bottom: 20px; }
          body main .news_wrapper .main_news .post_comments article:hover {
            background: rgba(0, 0, 0, 0.07);
            cursor: context-menu; }
          body main .news_wrapper .main_news .post_comments article footer.posted_at {
            font-size: .75em;
            padding: 0;
            height: auto;
            border: none;
            background: none; }
          body main .news_wrapper .main_news .post_comments article p {
            margin-bottom: 0;
            margin-top: 2px; }
  body main #slider {
    overflow: hidden; }
    body main #slider img {
      width: 100%;
      -webkit-transition: .2s all linear;
              transition: .2s all linear; }
      body main #slider img a {
        position: relative;
        z-index: 2; }
      body main #slider img:hover {
        -webkit-transform: scale(1.01);
            -ms-transform: scale(1.01);
                transform: scale(1.01);
        -webkit-transition: .2s all linear;
                transition: .2s all linear; }
    body main #slider article figure {
      height: 500px; }
      body main #slider article figure img {
        margin-top: -50px;
        width: 100%; }
    body main #slider article .img_wrapper {
      width: 100%;
      height: 500px; }
      body main #slider article .img_wrapper .container {
        margin-top: -450px; }
        body main #slider article .img_wrapper .container .more_news_wrapper {
          position: relative;
          z-index: 999;
          float: left;
          max-width: 280px;
          background: #555555;
          margin-left: 40px;
          margin-bottom: 40px; }
          body main #slider article .img_wrapper .container .more_news_wrapper a {
            display: block;
            background: #222222;
            text-decoration: none;
            margin-bottom: 1px; }
            body main #slider article .img_wrapper .container .more_news_wrapper a article {
              padding: 8px;
              font-family: "Lato";
              width: 100%;
              height: 120px;
              color: #ffffff; }
              body main #slider article .img_wrapper .container .more_news_wrapper a article time {
                font-size: .7em; }
              body main #slider article .img_wrapper .container .more_news_wrapper a article h2 {
                padding-top: 4px;
                font-size: 1.1em;
                font-weight: bold; }
              body main #slider article .img_wrapper .container .more_news_wrapper a article button {
                cursor: pointer;
                background: #ffffff;
                padding: 8px 15px;
                font-family: "Righteous";
                color: #222222;
                margin-top: 6px;
                border: none;
                position: relative;
                float: right; }
                body main #slider article .img_wrapper .container .more_news_wrapper a article button:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: -16px;
                  border-left: 16px solid transparent;
                  border-bottom: 16px solid #ffffff; }
                body main #slider article .img_wrapper .container .more_news_wrapper a article button:after {
                  content: '';
                  position: absolute;
                  top: 16px;
                  left: -16px;
                  border-left: 16px solid transparent;
                  border-top: 16px solid #ffffff; }
            body main #slider article .img_wrapper .container .more_news_wrapper a:nth-child(3n+2), body main #slider article .img_wrapper .container .more_news_wrapper a:hover {
              background: #107dac; }
            body main #slider article .img_wrapper .container .more_news_wrapper a:last-child {
              margin-bottom: 0; }
        body main #slider article .img_wrapper .container a {
          color: #ffffff; }
          body main #slider article .img_wrapper .container a header {
            float: left;
            position: relative;
            z-index: 999;
            background: #222222;
            margin-left: 170px;
            margin-top: 310px;
            padding: 16px;
            border: none;
            width: 550px; }
            body main #slider article .img_wrapper .container a header h1 {
              font-family: "Lato";
              text-transform: uppercase;
              font-size: 2em; }
  body main ._mid_news {
    margin-top: 20px; }
    body main ._mid_news a {
      display: inline-block; }
      body main ._mid_news a article {
        font-family: "Righteous";
        color: #ffffff;
        font-size: .9em;
        position: relative;
        float: left; }
        body main ._mid_news a article .header_bg {
          margin-left: 20px; }
        body main ._mid_news a article figure {
          overflow: hidden;
          max-width: 590px;
          height: 350px; }
      body main ._mid_news a:last-child {
        margin-left: 16px; }
  body main ._small_news {
    margin-top: 10px;
    margin-bottom: 40px; }
    body main ._small_news a {
      margin-right: 1.218%;
      margin-top: 20px;
      width: 32.3%;
      display: inline-block; }
      body main ._small_news a article {
        height: 170px;
        background: rgba(0, 0, 0, 0.2); }
        body main ._small_news a article figure {
          position: relative;
          width: 150px;
          height: 150px;
          float: left;
          margin: 10px 10px;
          overflow: hidden; }
          body main ._small_news a article figure img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -100%;
            margin-top: -50%;
            max-height: 150px; }
        body main ._small_news a article .describe {
          margin-top: 12px;
          float: left;
          width: 214px; }
          body main ._small_news a article .describe h3 {
            font-family: "Righteous";
            font-size: 1em;
            color: #ffffff; }
            body main ._small_news a article .describe h3:after {
              content: ''; }
          body main ._small_news a article .describe p {
            margin-top: 14px;
            font-family: "Lato";
            text-align: justify;
            color: #ffffff;
            font-size: .9em; }
      body main ._small_news a:nth-child(3n+0) {
        margin-right: 0; }
  body main .others_news {
    background: #fcfcfc;
    width: 100%;
    padding-bottom: 30px; }
    body main .others_news .others_news_wrapper {
      overflow: auto; }
      body main .others_news .others_news_wrapper .lol_news,
      body main .others_news .others_news_wrapper .csgo_news {
        margin-top: 20px;
        float: left;
        width: 49%;
        overflow: hidden; }
        body main .others_news .others_news_wrapper .lol_news:last-child,
        body main .others_news .others_news_wrapper .csgo_news:last-child {
          margin-left: 2%; }
        body main .others_news .others_news_wrapper .lol_news article,
        body main .others_news .others_news_wrapper .csgo_news article {
          margin-top: 20px;
          background: rgba(0, 0, 0, 0.05);
          height: 100px;
          position: relative; }
          body main .others_news .others_news_wrapper .lol_news article figure,
          body main .others_news .others_news_wrapper .csgo_news article figure {
            float: left;
            width: 25%;
            height: 100px;
            overflow: hidden;
            position: relative; }
          body main .others_news .others_news_wrapper .lol_news article section,
          body main .others_news .others_news_wrapper .csgo_news article section {
            float: right;
            height: 100px;
            width: 75%;
            padding: 2px 10px;
            color: #212121; }
            body main .others_news .others_news_wrapper .lol_news article section h4,
            body main .others_news .others_news_wrapper .csgo_news article section h4 {
              font-family: "Righteous";
              font-size: 1em;
              margin-bottom: 4px; }
            body main .others_news .others_news_wrapper .lol_news article section p,
            body main .others_news .others_news_wrapper .csgo_news article section p {
              font-family: "Lato";
              font-size: .9em;
              text-align: justify; }
            body main .others_news .others_news_wrapper .lol_news article section time,
            body main .others_news .others_news_wrapper .csgo_news article section time {
              font-family: "Lato";
              margin-top: 2px;
              font-size: .8em;
              float: right; }
          body main .others_news .others_news_wrapper .lol_news article:before,
          body main .others_news .others_news_wrapper .csgo_news article:before {
            position: absolute;
            content: '';
            width: 4px;
            left: 25%;
            height: 100%;
            background: #107dac; }
    body main .others_news button {
      margin-top: 30px;
      float: right;
      padding: 14px;
      background: #107dac;
      border: none;
      color: #ffffff;
      font-family: "Righteous";
      font-size: 1em;
      cursor: pointer; }
  body main h3 {
    position: relative;
    font-family: "Righteous";
    font-size: 1.4em;
    color: #333333; }
    body main h3:after {
      content: '///////////////////////////////////////////////////////////////////////////////////////////////////';
      position: absolute;
      top: 0;
      color: rgba(0, 0, 0, 0.07); }
  body main .social_media {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 60px;
    background: #fcfcfc; }
    body main .social_media .social_wrapper {
      width: 32.2%;
      margin-top: 20px;
      float: left;
      margin-right: 20px;
      background: #107dac; }
      body main .social_media .social_wrapper span {
        display: block;
        padding: 12px;
        color: #ffffff;
        background: #107dac;
        font-family: "Righteous";
        font-size: 1.3em;
        font-weight: bold; }
      body main .social_media .social_wrapper .item {
        background: #efefef;
        height: 100px;
        width: 100%;
        margin-bottom: 1px; }
      body main .social_media .social_wrapper:last-child {
        margin-right: 0; }
  body main .gallery {
    background: #fcfcfc; }
    body main .gallery .gallery-wrapper {
      margin-top: 20px;
      height: 300px;
      overflow: hidden;
      margin-bottom: 80px; }
      body main .gallery .gallery-wrapper .item {
        width: 25%;
        float: left; }
        body main .gallery .gallery-wrapper .item img {
          height: 300px; }
  body footer {
    padding: 30px 0;
    background: #222222;
    width: 100%;
    border-top: 18px solid #107dac; }
    body footer .footer_wrapper {
      overflow: hidden;
      border-bottom: 1px solid #107dac; }
      body footer .footer_wrapper .footer_company,
      body footer .footer_wrapper .footer_lol,
      body footer .footer_wrapper .footer_csgo,
      body footer .footer_wrapper .footer_about {
        height: 160px;
        margin-bottom: 20px;
        float: left;
        width: 25%; }
      body footer .footer_wrapper .footer_company .logo_wrapper img {
        float: left;
        height: 55px; }
      body footer .footer_wrapper .footer_company .logo_wrapper h4 {
        float: left;
        margin-left: 4px;
        padding-top: 8px;
        font-family: "Righteous";
        font-size: 1em;
        font-weight: lighter;
        letter-spacing: .2em; }
      body footer .footer_wrapper .footer_company .logo_wrapper address {
        padding-top: 4px;
        clear: both;
        color: #ffffff;
        font-size: .75em;
        letter-spacing: .1em;
        font-family: "Lato"; }
      body footer .footer_wrapper .footer_lol,
      body footer .footer_wrapper .footer_csgo {
        font-family: "Lato";
        font-weight: bold;
        border-left: 2px solid #107dac;
        color: #ffffff; }
        body footer .footer_wrapper .footer_lol ul,
        body footer .footer_wrapper .footer_csgo ul {
          margin-top: 9px;
          list-style-type: none;
          text-indent: 5px; }
          body footer .footer_wrapper .footer_lol ul ul,
          body footer .footer_wrapper .footer_csgo ul ul {
            margin-top: 0px;
            border: none;
            text-indent: 10px; }
            body footer .footer_wrapper .footer_lol ul ul a,
            body footer .footer_wrapper .footer_csgo ul ul a {
              font-size: .9em;
              color: #ffffff;
              text-decoration: none; }
              body footer .footer_wrapper .footer_lol ul ul a:hover,
              body footer .footer_wrapper .footer_csgo ul ul a:hover {
                text-decoration: underline; }
      body footer .footer_wrapper .footer_about {
        border-left: 2px solid #107dac;
        font-family: "Lato";
        color: #ffffff; }
        body footer .footer_wrapper .footer_about h5 {
          font-size: 1em;
          font-weight: bold;
          padding-top: 9px;
          text-indent: 6px;
          padding-bottom: 2px; }
        body footer .footer_wrapper .footer_about p {
          font-size: .9em;
          padding-left: 12px;
          text-align: justify; }
    body footer #copyrights {
      font-size: .7em;
      color: #ffffff;
      padding: 4px;
      letter-spacing: .03em;
      font-family: "Lato";
      text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */