//<------------- VARIABLES 
$bgColor: #107dac;
$lightFontColor: #ffffff;
$darkGray :#222222;
$mainFont: 'Righteous';
$textFont: 'Helvetica';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px; //1em
    background: $bgColor;
    font-family: $textFont;
    color: #ffffff;
    .container {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    header {
        border-top: 4px solid #333;
        .logo {
            margin-top: 4px;
            float: left;
            width: 60%;
            height: 49px;
            background: url(../img/logo.png) no-repeat;
            a {
                padding: 33px 100px;
            }
        }
        .navBg {
            position: relative;
            float: right;
            width: 40%;
            height: 49px;
            background: rgba(0, 0, 0, .2);
            ;
            margin-bottom: 50px;
            ul.login {
                margin: 0 70px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style: none;
                li {
                    margin-left: -20px;
                    flex-direction: row;
                    justify-content: center;
                    display: inline-block;
                    height: 49px;
                    a {
                        font-family: $mainFont;
                        font-size: .8em;
                        color: #ffffff;
                        text-decoration: none;
                        line-height: 49px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    &:first-child {
                        background: #333;
                        padding-left: 20px;
                        padding-right: 20px;
                        position: relative;
                        &:before {
                            position: absolute;
                            left: -45px;
                            content: '';
                            border-bottom: 49px solid #333;
                            border-left: 45px solid transparent;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            right: -45px;
                            border-bottom: 49px solid transparent;
                            border-left: 45px solid #333;
                        }
                    }
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                border-top: 49px solid transparent;
                border-left: 45px solid $bgColor;
            }
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                content: '';
                border-top: 49px solid transparent;
                border-right: 45px solid $bgColor;
            }
        }
    }
    .navbar {
        background: $darkGray;
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #555555;
        .dropDown {
            width: 55%;
            height: 55px;
            float: left;
            li {
                width: 50%;
                display: inline;
                line-height: 55px;
                margin-left: 65px;
                a {
                    color: #fff;
                    font-family: $mainFont;
                    font-size: 1.1em;
                    text-decoration: none;
                    position: relative;
                    &:after {
                        font-family: $mainFont;
                        position: absolute;
                        content: '^';
                        font-size: 2.5em;
                        color: $bgColor;
                        height: 46px;
                        right: -15px;
                        transform: rotate(180deg);
                    }
                    &:hover {
                        color: $bgColor;
                    }
                }
            }
        }
        .nav {
            float: left;
            width: 30%;
            height: 55px;
            li {
                float: left;
                list-style: none;
                height: 55px;
                line-height: 55px;
                a {
                    text-decoration: none;
                    padding-left: 15px;
                    color: #fff;
                    font-family: $mainFont;
                    font-size: .9em;
                }
                &:hover {
                    transition: .3s all linear;
                    border-bottom: 1px solid $bgColor;
                }
            }
        }
        .searchEngine {
            //input width:200px
            width: 15%;
            float: right;
            line-height: 55px;
            height: 55px;
            position: relative;
            button {
                position: absolute;
                right: 0;
                top: 11px;
                padding: 10px;
                background: #333;
                border: none;
                border-radius: 6px;
                color: $lightFontColor;
                &:hover {
                    color: $bgColor;
                    cursor: pointer;
                }
            }
        }
    }
    main {
        .news_wrapper {
            width: 100%;
            background: #fcfcfc;
            color: $darkGray;
            .where_am_i {
                margin-top: 20px;
                margin-bottom: 4px;
                width: 100%;
                padding: 2px;
                ol {
                    li {
                        position: relative;
                        margin: 0 8px;
                        display: inline-block;
                        a {
                            color: #bfbfbf;
                            font-size: .7em;
                            font-family: 'Arial';
                            text-transform: capitalize;
                        }
                        &:after {
                            position: absolute;
                            content: '>';
                            right: -14px;
                            color: #bfbfbf;
                            top: 1px;
                        }
                        &:last-child {
                            &:after {
                                content: none;
                            }
                        }
                    }
                }
            }
            .related_news {
                background: #dfdfdf;
                width: 300/1200 * 100%; //300px
                float: left;
                h2 {
                    font-size: 1em;
                    padding: 14px;
                    background: $darkGray;
                    color: $lightFontColor;
                }
                .related_wrapper {
                    overflow: auto;
                    max-height: 500px;
                    article {
                        table {
                            margin-bottom: 1px;
                            width: 100%;
                            color: #bfbfbf;
                            background: #efefef;
                            tr {
                                .time {
                                    display: block;
                                    font-size: .75em;
                                }
                                .category {
                                    height: 20px;
                                    font-size: .7em;
                                    a {
                                        color: #bfbfbf;
                                        text-decoration: underline;
                                    }
                                }
                                .title {
                                    height: 40px;
                                    font-size: 1em;
                                    a {
                                        color: $bgColor;
                                    }
                                }
                                td {
                                    padding: 2px;
                                    border-right: 1px solid $lightFontColor;
                                }
                            }
                        }
                    }
                    &::-webkit-scrollbar {
                        width: 6px;
                        background: $darkGray;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $bgColor;
                    }
                }
            }
            .main_news {
                width: 890/1200 * 100%;
                float: right;
                header {
                    border: none;
                    width: 100%;
                    height: 300px;
                    overflow: hidden;
                    position: relative;
                    img {
                        margin-top: -40px;
                    }
                    h1 {
                        font-family: $textFont;
                        font-weight: bold;
                        position: absolute;
                        width: 90%;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        color: #ffffff;
                        text-align: center;
                        padding: 12px;
                        background: $bgColor;
                    }
                }
                .content {
                    width: 900/900 * 100%;
                    float: left;
                    p {
                        font-size: 1em;
                        color:#555;
                        line-height: 1.5;
                        text-align: justify;
                        padding: 12px 2px;
                    }
                }
                aside {
                    margin-top: 1px;
                    width: 100%;
                    color: #ffffff;
                    h4 {
                        background: $bgColor;
                        padding: 14px;
                        margin-bottom: 1px;
                    }
                    .author_wrapper {
                        width: 100%;
                        overflow: hidden;
                        height: 100px;
                        figure {
                            width: 100/900*100%;
                            float: left;
                            img {
                                height: 100px;
                                width: 100px;
                                border: 4px solid #222;
                            }
                        }
                        .about_wrapper {
                            float: right;
                            width: 800/900*100%;
                            height: 100px;
                            padding: 10px;
                            background: $bgColor;
                            p {
                                color: #ffffff;
                                font-size: .8em;
                            }
                        }
                    }
                }
                .post_comments {
                    clear: both;
                    margin: 40px 0;
                    h1 {
                        color: $lightFontColor;
                        background: $bgColor;
                        padding: 6px;
                        //                        border-bottom: 2px solid $bgColor;
                    }
                    article {
                        padding: 10px 4px;
                        border-bottom: 1px solid rgba(0, 0, 0, .15);
                        &:last-child {
                            border: none;
                            margin-bottom: 20px;
                        }
                        &:hover {
                            background: rgba(0, 0, 0, .07);
                            cursor: context-menu;
                        }
                        .posted_at {
                            font-size: .75em;
                            padding: 0;
                            height: auto;
                            border: none;
                            background: none;
                        }
                        p {
                            padding: 6px;
                            margin-bottom: 0;
                            margin-top: 2px;
                        }
                    }
                }
            }
            .hot_news {
                width: 100%;
                float: left;
                margin-bottom: 50px;
                header {
                    border: none;
                    margin-bottom: 20px;
                }
                .hot_item {
                    width: 400/1200 * 100%;
                    height: 250px;
                    float: left;
                    position: relative;
                    overflow: hidden;
                    img {
                        height: 250px;
                    }
                    header {
                        background: $bgColor;
                        padding: 14px;
                        color: #ffffff;
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                    }
                    .count {
                        position: absolute;
                        padding: 10px;
                        background: $bgColor;
                        right: 0;
                        top: 10px;
                        color: #ffffff;
                        font-weight: bold;
                    }
                }
            }
        }
        #slider {
            a {
                display: block;
                position: relative;
                z-index: 2;
            }
            overflow: hidden;
            img {
                width: 100%;
                &:hover {
                    transform: scale(1.01);
                    transition: .2s all linear;
                }
                transition: .2s all linear;
            }
            article {
                figure {
                    height: 500px;
                    img {
                        margin-top: -50px;
                        width: 100%;
                    }
                }
                .img_wrapper {
                    width: 100%;
                    height: 500px;
                    .container {
                        margin-top: -450px;
                        .more_news_wrapper {
                            position: relative;
                            z-index: 999;
                            float: left;
                            max-width: 280px; //do zmiany
                            background: #555555;
                            margin-left: 40px;
                            margin-bottom: 40px;
                            a {
                                display: block;
                                background: $darkGray;
                                text-decoration: none;
                                margin-bottom: 1px;
                                article {
                                    padding: 8px;
                                    font-family: $textFont;
                                    width: 100%;
                                    height: 120px;
                                    color: #ffffff;
                                    time {
                                        font-size: .7em;
                                    }
                                    h2 {
                                        padding-top: 4px;
                                        font-size: 1.1em;
                                        font-weight: bold;
                                    }
                                    button {
                                        cursor: pointer;
                                        background: #ffffff;
                                        padding: 8px 15px;
                                        font-family: $mainFont;
                                        color: $darkGray;
                                        margin-top: 6px;
                                        border: none;
                                        position: relative;
                                        float: right;
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            top: 0;
                                            left: -16px;
                                            border-left: 16px solid transparent;
                                            border-bottom: 16px solid #ffffff;
                                        }
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            top: 16px;
                                            left: -16px;
                                            border-left: 16px solid transparent;
                                            border-top: 16px solid #ffffff;
                                        }
                                    }
                                }
                                &:nth-child(3n+2),
                                &:hover {
                                    background: $bgColor;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        a {
                            display: block;
                            color: #ffffff;
                            header {
                                float: right;
                                position: relative;
                                z-index: 999;
                                background: $darkGray;
                                top: 290px;
                                right: 30px;
                                padding: 14px;
                                border-top: 4px solid $bgColor;
                                width: 550px;
                                h1 {
                                    font-family: $textFont;
                                    text-transform: uppercase;
                                    font-size: 2em;
                                }
                            }
                        }
                    }
                }
            }
        }
        ._mid_news {
            margin-top: 20px;
            a {
                display: block;
                article {
                    font-family: $mainFont;
                    color: #ffffff;
                    font-size: .9em;
                    position: relative;
                    float: left;
                    .header_bg {
                        margin-left: 20px;
                    }
                    figure {
                        overflow: hidden;
                        max-width: 590px;
                        height: 350px;
                    }
                }
                &:last-child {
                    margin-left: 16px;
                }
            }
        }
        ._small_news {
            margin-top: 10px;
            margin-bottom: 40px;
            a {
                margin-right: 1.218%;
                margin-top: 20px;
                width: 32.27%;
                display: inline-block;
                article {
                    height: 170px;
                    background: rgba(0, 0, 0, .2);
                    figure {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        float: left;
                        margin: 10px 10px;
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -100%;
                            margin-top: -50%;
                            max-height: 150px;
                        }
                    }
                    .describe {
                        margin-top: 12px;
                        float: left;
                        width: 214px;
                        h3 {
                            font-family: $mainFont;
                            font-size: 1em;
                            color: #ffffff;
                            &:after {
                                content: '';
                            }
                        }
                        p {
                            margin-top: 14px;
                            font-family: $textFont;
                            text-align: justify;
                            color: #ffffff;
                            font-size: .9em;
                        }
                    }
                }
                &:nth-child(3n+0) {
                    margin-right: 0;
                }
            }
        }
        .others_news {
            background: #fcfcfc;
            width: 100%;
            padding-bottom: 30px;
            .others_news_wrapper {
                overflow: auto;
                .lol_news,
                .csgo_news {
                    margin-top: 20px;
                    float: left;
                    width: 49%;
                    overflow: hidden;
                    &:last-child {
                        margin-left: 2%;
                    }
                    article {
                        margin-top: 20px;
                        background: rgba(0, 0, 0, .05);
                        height: 100px;
                        position: relative;
                        figure {
                            float: left;
                            width: 25%;
                            height: 100px;
                            overflow: hidden;
                            position: relative;
                        }
                        section {
                            float: right;
                            height: 100px;
                            width: 75%;
                            padding: 2px 10px;
                            color: #212121;
                            h4 {
                                font-family: $mainFont;
                                font-size: 1em;
                                margin-bottom: 4px;
                            }
                            p {
                                font-family: $textFont;
                                font-size: .9em;
                                text-align: justify;
                            }
                            time {
                                font-family: $textFont;
                                margin-top: 2px;
                                font-size: .8em;
                                float: right;
                            }
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            width: 4px;
                            left: 25%;
                            height: 100%;
                            background: $bgColor;
                        }
                    }
                }
            }
            button {
                margin-top: 30px;
                float: right;
                padding: 14px;
                background: $bgColor;
                border: none;
                color: #ffffff;
                font-family: $mainFont;
                font-size: 1em;
                cursor: pointer;
            }
        }
        h3 {
            position: relative;
            font-family: $mainFont;
            font-size: 1.4em;
            color: #333333;
            &:after {
                content: '///////////////////////////////////////////////////////////////////////////////////////////////////';
                position: absolute;
                top: 0;
                color: rgba(0, 0, 0, .07);
            }
        }
        .social_media {
            width: 100%;
            padding-top: 25px;
            padding-bottom: 60px;
            background: #fcfcfc;
            .social_wrapper {
                width: 32.2%;
                margin-top: 20px;
                float: left;
                margin-right: 20px;
                background: $bgColor;
                span {
                    display: block;
                    padding: 12px;
                    color: #ffffff;
                    background: $bgColor;
                    font-family: $mainFont;
                    font-size: 1.3em;
                    font-weight: bold;
                }
                .item {
                    background: #efefef;
                    height: 100px;
                    width: 100%;
                    margin-bottom: 1px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .gallery {
            background: #fcfcfc;
            .gallery-wrapper {
                margin-top: 20px;
                height: 300px;
                overflow: hidden;
                margin-bottom: 80px;
                .item {
                    width: 25%;
                    float: left;
                    img {
                        height: 300px;
                    }
                }
            }
        }
    }
    footer {
        padding: 30px 0;
        background: $darkGray;
        width: 100%;
        border-top: 18px solid $bgColor;
        .footer_wrapper {
            overflow: hidden;
            border-bottom: 1px solid $bgColor;
            .footer_company,
            .footer_lol,
            .footer_csgo,
            .footer_about {
                height: 160px;
                margin-bottom: 20px;
                float: left;
                width: 25%;
            }
            .footer_company {
                .logo_wrapper {
                    img {
                        float: left;
                        height: 55px;
                    }
                    h4 {
                        float: left;
                        margin-left: 4px;
                        padding-top: 8px;
                        font-family: $mainFont;
                        font-size: 1em;
                        font-weight: lighter;
                        letter-spacing: .2em;
                    }
                    address {
                        padding-top: 4px;
                        clear: both;
                        color: $lightFontColor;
                        font-size: .75em;
                        letter-spacing: .1em;
                        font-family: $textFont;
                    }
                }
            }
            .footer_lol,
            .footer_csgo {
                font-family: $textFont;
                font-weight: bold;
                border-left: 2px solid $bgColor;
                color: $lightFontColor;
                ul {
                    margin-top: 9px;
                    list-style-type: none;
                    text-indent: 5px;
                    ul {
                        margin-top: 0px;
                        border: none;
                        text-indent: 10px;
                        a {
                            font-size: .9em;
                            color: $lightFontColor;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .footer_about {
                border-left: 2px solid $bgColor;
                font-family: $textFont;
                color: $lightFontColor;
                h5 {
                    font-size: 1em;
                    font-weight: bold;
                    padding-top: 9px;
                    text-indent: 6px;
                    padding-bottom: 2px;
                }
                p {
                    font-size: .9em;
                    padding-left: 12px;
                    text-align: justify;
                }
            }
        }
        #copyrights {
            font-size: .7em;
            color: $lightFontColor;
            padding: 4px;
            letter-spacing: .03em;
            font-family: $textFont;
            text-transform: uppercase;
        }
    }
}
