* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px; //1em
    background: #edc242;
    color: #ffffff;
    .container {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    header {
        border-top: 4px solid #333;
        .logo {
            margin-top: 4px;
            float: left;
            width: 60%;
            height: 49px;
            background: url(../img/logo.png) no-repeat;
            a {
                padding: 33px 100px;
            }
        }
        .navBg {
            position: relative;
            float: right;
            width: 40%;
            height: 49px;
            background: rgba(0, 0, 0, .2);
            ;
            margin-bottom: 50px;
            ul.login {
                margin: 0 70px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style: none;
                li {
                    margin-left: -20px;
                    flex-direction: row;
                    justify-content: center;
                    display: inline-block;
                    height: 49px;
                    a {
                        font-family: 'Righteous';
                        font-size: .8em;
                        color: #ffffff;
                        text-decoration: none;
                        line-height: 49px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    &:first-child {
                        background: #333;
                        padding-left: 20px;
                        padding-right: 20px;
                        position: relative;
                        &:before {
                            position: absolute;
                            left: -45px;
                            content: '';
                            border-bottom: 49px solid #333;
                            border-left: 45px solid transparent;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            right: -45px;
                            border-bottom: 49px solid transparent;
                            border-left: 45px solid #333;
                        }
                    }
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                border-top: 49px solid transparent;
                border-left: 45px solid #edc242;
            }
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                content: '';
                border-top: 49px solid transparent;
                border-right: 45px solid #edc242;
            }
        }
    }
    .navbar {
        background: #222222;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #555555;
        .dropDown {
            width: 40%;
            height: 50px;
            float: left;
            li {
                width: 50%;
                display: inline;
                line-height: 50px;
                margin-left: 65px;
                a {
                    color: #fff;
                    font-family: 'Righteous';
                    font-size: 1.1em;
                    text-decoration: none;
                    position: relative;
                    &:after {
                        font-family: 'Righteous';
                        position: absolute;
                        content: '^';
                        font-size: 2.5em;
                        color: #edc242;
                        height: 41px;
                        right: -15px;
                        transform: rotate(180deg);
                    }
                    &:hover {
                        color: #edc242;
                    }
                }
            }
        }
        .nav {
            float: left;
            width: 45%;
            height: 50px;
            li {
                float: left;
                list-style: none;
                line-height: 50px;
                a {
                    text-decoration: none;
                    padding: 16px;
                    color: #fff;
                    font-family: 'Righteous';
                    font-size: .9em;
                    transition: .2s all linear;
                    &:hover {
                        background: #333;
                        color: #edc242;
                    }
                }
            }
        }
        .searchEngine {
            width: 15%;
            float: right;
            line-height: 50px;
            height: 50px;
            position: relative;
            button {
                position: absolute;
                right: 0;
                top: 8px;
                padding: 10px;
                background: #333;
                border: none;
                border-radius: 6px;
                color: #cfcfcf;
                &:hover {
                    color: #edc242;
                    cursor: pointer;
                }
            }
        }
    }
    main {
        #slider {
            overflow: hidden;
            img {
                width: 100%;
                clear: left;
                &:hover {
                    transform: scale(1.01);
                    transition: .2s all linear;
                }
                transition: .2s all linear;
            }
            article {
                figure {
                    height: 500px;
                    img {
                        margin-top: -50px;
                        width: 100%;
                    }
                }
                .img_wrapper {
                    width: 100%;
                    height: 500px;
                    .container {
                        position: relative;
                        z-index: 9999;
                        margin-top: -450px;
                        .more-news-wrapper {
                            float: left;
                            max-width: 280px; //do zmiany
                            background: #555555;
                            margin-left: 40px;
                            margin-bottom: 40px;
                            a {
                                display: block;
                                background: #222222;
                                text-decoration: none;
                                margin-bottom: 1px;
                                article {
                                    padding: 8px;
                                    font-family: 'Lato';
                                    width: 100%;
                                    height: 120px;
                                    color: #ffffff;
                                    time {
                                        font-size: .7em;
                                    }
                                    h2 {
                                        padding-top: 4px;
                                        font-size: 1.1em;
                                        font-weight: bold;
                                    }
                                    button {
                                        cursor: pointer;
                                        background: #ffffff;
                                        padding: 8px 15px;
                                        font-family: 'Righteous';
                                        color: #222222;
                                        margin-top: 6px;
                                        border: none;
                                        position: relative;
                                        float: right;
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            top: 0;
                                            left: -16px;
                                            border-left: 16px solid transparent;
                                            border-bottom: 16px solid #ffffff;
                                        }
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            top: 16px;
                                            left: -16px;
                                            border-left: 16px solid transparent;
                                            border-top: 16px solid #ffffff;
                                        }
                                    }
                                }
                                &:nth-child(3n+2),
                                &:hover {
                                    background: #edc242;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        header {
                            background: #222222;
                            padding: 16px;
                            position: absolute;
                            bottom: 0;
                            right: 70px;
                            border: none;
                            width: 550px;
                            h1 {
                                font-family: 'Lato';
                                text-transform: uppercase;
                                font-size: 2em;
                            }
                        }
                    }
                }
            }
        }
        ._mid_news {
            margin-top: 20px;
            a {
                display: inline-block;
                article {
                    font-family: 'Righteous';
                    color: #ffffff;
                    font-size: .9em;
                    position: relative;
                    float: left;
                    .header_bg {
                        margin-left: 20px;
                    }
                    figure {
                        overflow: hidden;
                        max-width: 590px;
                        height: 350px;
                    }
                }
                &:last-child {
                    margin-left: 16px;
                }
            }
        }
        ._small_news {
            margin-top: 10px;
            margin-bottom: 40px;
            a {
                margin-right: 1.218%;
                margin-top: 20px;
                width: 32.3%;
                display: inline-block;
                article {
                    height: 170px;
                    background: rgba(0, 0, 0, .2);
                    figure {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        float: left;
                        margin: 10px 10px;
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -100%;
                            margin-top: -50%;
                            max-height: 150px;
                        }
                    }
                    .describe {
                        margin-top: 12px;
                        float: left;
                        width: 214px;
                        h3 {
                            font-family: 'Righteous';
                            font-size: 1em;
                            color: #ffffff;
                        }
                        p {
                            margin-top: 14px;
                            font-family: 'Lato';
                            text-align: justify;
                            color: #ffffff;
                            font-size: .9em;
                        }
                    }
                }
                &:nth-child(3n+0) {
                    margin-right: 0;
                }
            }
        }
        .others_news {
            background: #fcfcfc;
            width: 100%;
            padding-bottom: 30px;
            .others_news_wrapper {
                overflow: auto;
                .lol_news,
                .csgo_news {
                    margin-top: 20px;
                    float: left;
                    width: 49%;
                    overflow: hidden;
                    &:last-child {
                        margin-left: 2%;
                    }
                    article {
                        margin-top: 20px;
                        background: rgba(0, 0, 0, .05);
                        height: 100px;
                        position: relative;
                        figure {
                            float: left;
                            width: 25%;
                            height: 100px;
                            overflow: hidden;
                            position: relative;
                        }
                        section {
                            float: right;
                            height: 100px;
                            width: 75%;
                            padding: 2px 10px;
                            color: #212121;
                            h4 {
                                font-family: 'Righteous';
                                font-size: 1em;
                                margin-bottom: 4px;
                            }
                            p {
                                font-family: 'Lato';
                                font-size: .9em;
                                text-align: justify;
                            }
                            time {
                                font-family: 'Lato';
                                margin-top: 2px;
                                font-size: .8em;
                                float: right;
                            }
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            width: 4px;
                            left: 25%;
                            height: 100%;
                            background: #edc242;
                        }
                    }
                }
            }
            button {
                margin-top: 30px;
                float: right;
                padding: 14px;
                background: #edc242;
                border: none;
                color: #ffffff;
                font-family: 'Righteous';
                font-size: 1em;
                cursor: pointer;
            }
        }
        h3 {
            position: relative;
            font-family: 'Righteous';
            font-size: 1.4em;
            color: #333333;
            &:after {
                content: '///////////////////////////////////////////////////////////////////////////////////////////////////';
                position: absolute;
                top: 0;
                color: rgba(0, 0, 0, .07);
            }
        }
        .social_media {
            width: 100%;
            padding-top: 25px;
            padding-bottom: 60px;
            background: #fcfcfc;
            .social_wrapper {
                width: 32.2%;
                margin-top: 20px;
                float: left;
                margin-right: 20px;
                background: #edc242;
                span {
                    display: block;
                    padding: 12px;
                    color: #ffffff;
                    background: #edc242;
                    font-family: 'Righteous';
                    font-size: 1.6em;
                    font-weight: bold;
                }
                .item {
                    background: #efefef;
                    height: 100px;
                    width: 100%;
                    margin-bottom: 1px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .gallery {
            background: #fcfcfc;
            .gallery-wrapper {
                margin-top: 20px;
                height: 300px;
                overflow: hidden;
                margin-bottom: 80px;
                .item {
                    width: 25%;
                    float: left;
                    img {
                        height: 300px;
                    }
                }
            }
        }
    }
    footer {
        background: #222222;
        height: 300px;
        width: 100%;
        border-top: 18px solid #edc242;
        .footer_wrapper {
            overflow:hidden;
            border-bottom:1px solid #edc242;
            .item {
                height:200px;
                float:left;
                width:20%;
            }
        }
    }
}
