html {
  height: 100%;
}

body {
  font-size: 16px; //1em
  font-family: "UbuntuL";
  background: $gray;
  height: inherit;
}

main {
  background: #fff;
  margin: $primaryPadding 0;
  &.collapse {
    // to avoid margin collapsing
    overflow: hidden;
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  height: inherit;
}

.inline-list {
  li {
    display: inline-block;
  }
}

.link {
  text-decoration: none;
  color: $secondaryColor;
  &:hover {
    text-decoration: underline;
    color: darken($secondaryColor, 10%);
  }
}

p {
  line-height: 1.5;
}
