//<------------- FONTS ------------->
@font-face {
  font-family: "UbuntuR";
  src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "UbuntuL";
  src: url("../fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "UbuntuB";
  src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Social";
  src: url("../fonts/Socialico.otf");
}

@font-face {
  font-family: "TruenoB";
  src: url("../fonts/TruenoBd.otf");
}
