/* HEADER/NAV */

.nav {
  @include for-tablet-vertical {
    .hamburger {
      display: none;
    }
    .navigation {
      display: block;
    }
  }
}

/* ARTICLES */

.articles {
  @include for-phone {
    .header--primary {
      font-size: 1.2em;
    }
    &__footer {
      font-size: 0.7em;
    }
  }

  @include for-tablet-horizontal {
    flex-flow: row wrap;
    .column--main {
      flex: 0.7;
    }
    .column--aside {
      flex: 0.3;
      margin-top: 0;
    }
  }
  .main {
    max-height: 350px;
    @include for-phone-wide {
      &__image {
        width: 100%;
        height: auto;
      }
    }
  }
}

.aside {
  @include for-tablet-horizontal {
    margin-left: 10px;
  }
}

/* ERROR-PAGE */

.error {
  @include for-phone-wide {
    &__code {
      font-size: 8em;
    }
    &__reason {
      font-size: 2em;
    }
  }
}
