$primaryColor: #ffffff;
$secondaryColor: #0396db;
$secondaryColorText: #014b6d;
$gray: #d3d7e1;
$textColor: #000000;

// social
$facebookColor: #3b5998;
$twitterColor: #00aced;

//page headers
$primaryHeaderColor: #fff;

//values
$primaryPadding: 30px;
