$primaryColor: #ffffff;
$secondaryColor: #0396db;
$gray: #d3d7e1;

// social
$facebookColor: #3b5998;
$twitterColor: #00aced;

//page headers
$primaryHeaderColor: #fff;

//values
$primaryPadding: 30px;
