.admin {
  background: #fff;
  color: black;
  /* GENERAL */
  &__column {
    &--left {
      position: relative;
      z-index: 2;
      box-shadow: 4px 0px 2px -2px $gray;
    }
    &--right {
      height: inherit;
      flex: 1;
    }
  }
  &__main {
    height: calc(100% - 102px);
    padding: 15px 25px 35px 25px;
    margin: 0;
    flex: 1 1 400px;
    background: $adminBg;
  }
  &__actions {
    padding: 10px 0;
    font-size: 0.9em;
    .action__item {
      color: darken($gray, 10%);
      position: relative;
      &:not(:last-child) {
        margin-right: 12px;
        &:after {
          content: "•";
          position: absolute;
          right: -10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  &__header {
    height: 100px;
    padding: 0 25px;
    align-items: flex-end;
    background: #0396db; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #0396db 22%,
      #00aef9 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #0396db 22%,
      #00aef9 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #0396db 22%,
      #00aef9 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0396db', endColorstr='#00aef9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
  }
  &__user {
    padding: 10px 0;
    flex: 1;
  }
  &__content {
    height: inherit;
    justify-content: flex-start;
  }
  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  &__logo {
    position: relative;
    top: 10px;
    height: 70px;
  }
  &__nav {
    .nav {
      &__list {
        list-style-type: none;
      }
      &__link {
        color: darken($gray, 10%);
        text-decoration: none;
        font-family: "UbuntuR";
        display: block;
        padding: 12px 90px 12px 15px;
        border-left: 3px solid transparent;
        &:hover {
          background: lighten($gray, 10%);
          color: $secondaryColor;
          border-left: 3px solid $secondaryColor;
        }
      }
    }
  }
  &__location {
    margin: 10px 0;
    color: $secondaryColor;
    h1 {
      font-size: 1.25em;
      font-weight: lighter;
    }
    span {
      font-size: 0.85em;
      color: darken($gray, 10%);
    }
  }
  &__table {
    width: 100%;
    th {
      background: $secondaryColor;
      color: #fff;
      font-size: 0.9em;
      font-weight: lighter;
    }
    tr:nth-child(odd) td {
      background: $adminBg;
    }
    th,
    td {
      padding: 10px;
      text-align: left;
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:not(:nth-child(3)) {
        vertical-align: top;
      }
    }
  }
  /*  COMMENTS */
  &__comments {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    .subtitle {
      font-size: 0.95em;
      font-family: "UbuntuL";
      letter-spacing: -0.15px;
    }
    &-body {
      margin: 8px 0;
    }
    &-footer,
    &-added {
      font-size: 0.85em;
    }
    &-footer {
      span {
        color: black;
        display: inline-block;
        &:not(:last-child) {
          margin-right: 3px;
        }
      }
      a:not(:last-child) {
        margin-right: 3px;
      }
    }
  }
}
