.articles {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  .column {
    flex: 1 1 400px;
    &--main {
      max-width: 75%;
    }
    &--aside {
      max-width: 25%;
      display: flex;
      flex-flow: column nowrap;
    }
  }
  .image-wrapper {
    overflow: hidden;
    max-height: inherit;
    width: inherit;
  }
  &__image {
    width: 100%;
  }
  .main {
    overflow: hiden;
    cursor: pointer;
    position: relative;
    max-height: 350px;
    &__image-wrapper {
      max-height: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
    }
    &__image {
      width: 100%;
    }
  }
  .aside {
    cursor: pointer;
    position: relative;
    max-height: 110px;
    margin-left: 10px;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &__image-wrapper {
      max-height: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
    }
    &__image {
      width: 100%;
    }
  }
  &__header {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    left: 0;
    bottom: 0;
    color: $primaryHeaderColor;
    &--main {
      padding: 25px;
    }
    &--aside {
      text-align: center;
      display: flex;
      align-items: center;
      left: 50%;
      padding: 0 10px;
      height: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__footer {
    margin-top: 3px;
    font-size: 0.8em;
  }
  &__category {
    background: $secondaryColor;
    padding: 5px 8px;
    font-size: 0.8em;
    font-family: "TruenoB";
  }
}
