#header {
  background: #fff;
  border-bottom: 1px solid $gray;
  .topbar {
    @extend .flex-wrapper;
    padding: 0 15px;
    border-bottom: 1px solid $gray;
    align-items: center;
  }
  .greeting {
    font-size: 0.75em;
  }
}

.social {
  &--login {
    font-size: 0.75em;
    position: relative;
    right: 4px;
    top: -2px;
  }
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  &__item {
    display: block;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__link {
    font-size: 2.2em;
    text-decoration: none;
    transition: 0.25s all;
    svg {
      border-radius: 50%;
      background: $gray;
      fill: #fff;
      box-sizing: initial;
      padding: 4px;
      height: 18px;
    }
    &--facebook {
      &:hover {
        svg {
          background: $facebookColor;
          color: #fff;
          fill: #fff;
        }
      }
    }
    &--twitter {
      &:hover {
        svg {
          background: $twitterColor;
          color: #fff;
          fill: #fff;
        }
      }
    }
  }
}

.nav {
  padding: 0 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .hamburger {
    cursor: pointer;
    font-size: 1.5em;
    font-family: "UbuntuB";
    line-height: 64px;
  }
  #toggle-nav {
    display: none;
    &:checked ~ .navigation__mobile {
      display: block;
    }
  }
  .logo {
    &__link {
      display: block;
    }
    &__svg {
      position: relative;
      top: 5px;
      height: 61px;
    }
  }
}

.navigation {
  text-align: right;
  &__list {
    display: none;
    list-style-type: none;
  }
  &__mobile {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    text-align: center;
    transition: all 0.35s;
    display: none;
    .navigation__item {
      display: block;
    }
  }
  &__item {
    display: inline-block;
  }
  &__link {
    text-decoration: none;
    display: block;
    padding: 25px 12px;
    font-size: 0.8em;
    color: darken($gray, 20%);
    text-transform: uppercase;
    transition: 0.25s all;
    font-family: "UbuntuL";
    &:hover {
      background: $secondaryColor;
      color: #fff;
    }
  }
}
