#header {
  background: #fff;
  border-bottom: 1px solid $gray;
  .topbar {
    padding: 0 $primaryPadding;
    border-bottom: 1px solid $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .greeting {
    font-size: 0.75em;
  }
}

.social {
  &__list {
    list-style-type: none;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    font-size: 2.2em;
    text-decoration: none;
    transition: 0.25s all;
    svg {
      border-radius: 50%;
      background: $gray;
      fill: #fff;
      box-sizing: initial;
      padding: 4px;
      height: 18px;
    }
    &--facebook {
      &:hover {
        svg {
          background: $facebookColor;
          color: #fff;
          fill: #fff;
        }
      }
    }
    &--twitter {
      &:hover {
        svg {
          background: $twitterColor;
          color: #fff;
          fill: #fff;
        }
      }
    }
  }
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 $primaryPadding;
  .hamburger {
    font-size: 1.5em;
    font-family: "UbuntuB";
    line-height: 64px;
  }
  .logo {
    line-height: 64px;
  }
}

.navigation {
  display: none;
  &__list {
    list-style-type: none;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    text-decoration: none;
    display: block;
    padding: 25px 12px;
    font-size: 0.8em;
    color: darken($gray, 20%);
    text-transform: uppercase;
    transition: 0.25s all;
    font-family: "UbuntuB";
    &:hover {
      background: $secondaryColor;
      color: #fff;
    }
  }
}
