.latest {
  //there's margin collapsing issue even if parent overflow is set to hidden
  margin-top: 30px;
  .articles {
    margin: 15px;
  }
  &--hidden {
    overflow: hidden;
  }
  &__title {
    font-size: 0.95em;
    font-weight: lighter;
    font-family: "UbuntuL";
  }
  &__wrapper {
    @extend .flex-wrapper;
    align-items: center;
    overflow: hidden;
    max-height: 150px;
  }
  &__image {
    width: 100%;
  }
  &--margin {
    margin: 0 $primaryPadding;
  }
  &__article {
    overflow: hidden;
    align-self: flex-start;
    margin: 1px 0;
    flex: 1 1 255px;
    @media (min-width: 540px) {
      margin: 15px;
    }
    &:hover .meta {
      bottom: 0;
    }
  }
  &__container {
    margin: 15px 0;
  }
  &__link {
    cursor: pointer;
    display: block;
    color: inherit;
    position: relative;
    text-decoration: none;
    &:visited {
      color: darken($gray, 20%);
    }
  }
  &--mini {
    padding: 15px 10px;
    flex: 1;
    cursor: pointer;
    transition: 0.35s all;
    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
    &:hover {
      background: $secondaryColor;
      color: $primaryColor;
      a:visited {
        color: #fff;
      }
    }
  }
  .meta {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -34px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.35);
    color: $primaryHeaderColor;
    transition: 0.35s all;
    &__header {
      font-family: "UbuntuL";
      color: inherit;
    }
    &__footer {
      color: inherit;
      font-size: 0.8em;
      margin-top: 10px;
    }
    &__category {
      padding: 5px 8px;
      display: inline-block;
      background: $secondaryColor;
      color: #fff;
      font-size: 0.9em;
      font-family: "UbuntuL";
      letter-spacing: 0.5px;
    }
    &__author {
      margin-left: 4px;
    }
  }
  &__button {
    text-decoration: none;
    font-size: 0.85em;
    align-self: center;
    margin: 0 $primaryPadding;
  }
  // STYLE DLA LISTY ARTYKUŁÓW - /news
  .pages {
    text-align: center;
    margin-bottom: $primaryPadding;
  }
}
