.login-wrapper {
  @extend .flex-wrapper;
  .login,
  .remind {
    margin: $primaryPadding;
    flex: 1 1 270px;
  }
  .login {
    &-link {
      text-align: right;
    }
    &__form {
      margin-top: $primaryPadding;
    }
    &__label {
      display: block;
    }
  }
}
