.search {
  padding: $primaryPadding;
  &--single {
    padding: 20px 0;
    position: sticky;
    top: 15px;
  }
  &__results {
    margin-top: 30px;
  }
  &__form {
    margin-top: 30px;
  }
  &__button {
    width: 38px;
    height: 38px;
  }
}
