.location {
  list-style-type: none;
  font-size: 0.8em;
  text-decoration: none;
  color: $gray;
  &__item {
    display: inline-block;
    position: relative;
    padding: 0 4px;
    &:not(:last-child) {
      &:after {
        content: "•";
        position: absolute;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__link {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: darken($gray, 20%);
    }
  }
}

.single {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 15px;
  &__wrapper {
    // had to avoid putting overflow:hidden on main to avoid margin collapse
    // because of sticky position for search wrapper
    margin: 30px 15px 30px 15px;
  }
  &__aside {
    position: sticky;
    top: 30px;
    align-self: flex-start;
    flex: 1 1 255px;
    &-wrapper {
      margin-top: 10px;
    }
  }
  &__link {
    display: block;
    font-size: 0.95em;
    color: black;
    padding: 15px 0;
    text-decoration: none;
    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
    &:hover {
      color: $secondaryColor;
    }
  }
  &__header {
    margin: 15px 0 25px 0;
  }
  &__categories {
    margin: 10px 0;
    .category {
      display: inline-block;
      text-decoration: none;
      padding: 4px 6px;
      font-family: "UbuntuL";
      font-size: 0.8em;
      color: #fff;
      background: $secondaryColor;
      &:hover {
        background: darken($secondaryColor, 5%);
      }
    }
  }
  &__author {
    display: block;
    margin-top: 4px;
    font-size: 0.75em;
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    &-wrapper {
      margin: 5px 0;
      max-height: 350px;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
  }
  &__body {
    text-align: justify;
    line-height: 1.5;
    margin-top: 25px;
    white-space: pre-wrap;
  }

  //comments section
  .comments {
    margin-top: $primaryPadding;
    &__wrapper {
      margin-top: $primaryPadding;
    }
    &__item:not(:last-child) {
      margin-bottom: 25px;
    }
    &__header {
      font-size: 0.9em;
      color: darken($gray, 10%);
      font-family: "Ubuntur";
    }
    &__author {
      margin-bottom: 4px;
      display: inline-block;
      font-size: inherit;
    }
    &__body {
      text-align: justify;
      white-space: pre-wrap;
    }
    &__footer {
      margin-top: 5px;
      font-size: 0.9em;
      color: darken($gray, 10%);
    }
    &__information {
      font-family: "UbuntuL";
      font-size: 0.9em;
    }
    &__add {
      margin-top: 20px;
      //container for comment items
      + div {
        margin-top: $primaryPadding;
      }
    }
    .g-recaptcha {
      margin-bottom: 15px;
    }
  }
}
